In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [3]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy='most_frequent')

In [8]:
df=si.fit_transform(df)

In [9]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [10]:
cols = [1,3,5,6,7,8,9,13,14]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()

In [15]:
df = pd.DataFrame(df)

In [16]:
for i in cols:
    df[i] = le.fit_transform(df[i])

In [17]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [18]:
y = df[14]
y.shape

(32561,)

In [19]:
x = df.drop(columns = 14)
x.shape

(32561, 14)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x,test_x,train_y, test_y = train_test_split(x,y,test_size = 0.3)

In [22]:
train_x.shape

(22792, 14)

In [23]:
test_x.shape

(9769, 14)

In [24]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,3.095253,10.320025,2.604642,6.140005,1.440769,3.668831,0.673438,36.412425
std,1.100461,3.857492,1.506781,3.977583,1.605326,0.844506,0.468966,6.066627
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,6.000000,1.000000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.000000,4.000000,1.000000,40.000000

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()

In [27]:
train_x_sc = sc.fit_transform(train_x)

In [29]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,1.162831e-16,-2.020146e-16,7.076746e-17,1.184654e-17,2.070026e-16,8.230225e-17,-1.159713e-16,2.119906e-17,-1.758275e-16,-3.896887e-17,-4.988015e-18,7.856124e-17,-2.640530e-16,-2.783936e-16
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.581183e+00,-2.812750e+00,-1.612877e+00,-2.675378e+00,-3.542755e+00,-1.728652e+00,-1.543686e+00,-8.975126e-01,-4.344445e+00,-1.436038e+00,-1.447014e-01,-2.161558e-01,-3.207398e+00,-6.002219e+00
25%,-7.775228e-01,-8.655904e-02,-6.803533e-01,-3.422051e-01,-4.209421e-01,-4.012894e-01,-7.894427e-01,-8.975126e-01,3.921534e-01,-1.436038e+00,-1.447014e-01,-2.161558e-01,-3.995261e-02,2.616956e-01
50%,-1.199824e-01,-8.655904e-02,-1.097269e-01,1.762778e-01,-3.071545e-02,-4.012894e-01,-3.519935e-02,-2.745725e-01,3.921534e-01,6.963602e-01,-1.447014e-01,-2.161558e-01,-3.995261e-02,2.616956e-01
75%,6.836782e-01,-8.655904e-02,4.504112e-01,4.355193e-01,7.497378e-01,9.260727e-01,7.190440e-01,9.713077e-01,3.921534e-01,6.963602e-01,-1.447014e-01,-2.161558e-01,3.661301e-01,2.616956e-01
max,3.752200e+00,3.548363e+00,1.226572e+01,1.213244e+00,2.310644e+00,2.253435e+00,1.724702e+00,2.217188e+00,3.921534e-01,6.963602e-01,1.287378e+01,1.070725e+01,4.751824e+00,5.913753e-01

In [30]:
from sklearn.linear_model import Perceptron

In [31]:
p = Perceptron()

In [32]:
p.fit(train_x_sc,train_y)

Perceptron()

In [35]:
train_pred = p.predict(train_x_sc)
test_pred = p.predict(test_x)

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
print("Training Accuracy : ",accuracy_score(train_pred,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred,test_y))

Training Accuracy :  0.765970515970516
Testing Accuracy :  0.7808373426143924

In [40]:
p1=Perceptron(penalty='l1')

In [41]:
p1.fit(train_x_sc,train_y)

Perceptron(penalty='l1')

In [42]:
train_pred_l1=p1.predict(train_x_sc)
test_pred_l1=p1.predict(test_x)

In [43]:
print("Training Accuracy: ", accuracy_score(train_y, train_pred_l1 ))
print("Testing Accuracy: ", accuracy_score(test_y, test_pred_l1))

Training Accuracy:  0.8094068094068094
Testing Accuracy:  0.2397379465656669

In [44]:
p2=Perceptron(penalty='l2')

In [45]:
p2.fit(train_x_sc,train_y)

Perceptron(penalty='l2')

In [46]:
train_pred_l2=p2.predict(train_x_sc)
test_pred_l2=p2.predict(test_x)

In [47]:
print("Training Accuracy: ", accuracy_score(train_y, train_pred_l2 ))
print("Testing Accuracy: ", accuracy_score(test_y, test_pred_l2))

Training Accuracy:  0.7876447876447876
Testing Accuracy:  0.2397379465656669

In [48]:
p3=Perceptron(penalty='elasticnet')

In [49]:
p3.fit(train_x_sc,train_y)

Perceptron(penalty='elasticnet')

In [50]:
train_pred_l3=p2.predict(train_x_sc)
test_pred_l3=p2.predict(test_x)

In [51]:
print("Training Accuracy: ", accuracy_score(train_y, train_pred_l3 ))
print("Testing Accuracy: ", accuracy_score(test_y, test_pred_l3))

Training Accuracy:  0.7876447876447876
Testing Accuracy:  0.2397379465656669

In [52]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, precision_recall_curve

In [53]:
print(confusion_matrix(test_y, test_pred_l2))

[[   0 7427]
 [   0 2342]]

In [55]:
reg=['l1', 'l2', 'elasticnet']
C=[0.001, 0.01, 0.1, 1]

In [60]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(penalty = 'none')
#l1 is not considered as it cannot work with it

In [61]:
lr.fit(train_x_sc,train_y)

LogisticRegression(penalty='none')

In [62]:
train_pred_lr = lr.predict(train_x_sc)
test_pred_lr = lr.predict(test_x)

In [63]:
print("Training Accuracy: ", accuracy_score(train_pred_lr, train_y ))
print("Testing Accuracy: ", accuracy_score(test_pred_lr, test_y))

Training Accuracy:  0.8242365742365743
Testing Accuracy:  0.2397379465656669

In [66]:
# drop column 7 8 9 and check again