In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy='most_frequent')

In [8]:
df=si.fit_transform(df)

In [9]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [10]:
cols=[1,3, 5,6,7,8,9,13, 14]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df=pd.DataFrame(df)

In [14]:
for i in cols:
  df[i]=le.fit_transform(df[i])

In [15]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [16]:
y = df[14]

In [17]:
y.shape

(32561,)

In [18]:
x = df.drop(columns = 14)

In [19]:
x.shape

(32561, 14)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3)

In [22]:
#giving 70% to train and 30% to test

In [23]:
train_x.shape

(22792, 14)

In [24]:
test_x.shape

(9769, 14)

In [25]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,3.096525,10.276939,2.616093,6.143559,1.450904,3.665892,0.669226,36.465119
std,1.109780,3.867309,1.508125,3.965010,1.605231,0.850058,0.470502,5.940243
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,6.000000,1.000000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.000000,4.000000,1.000000,40.000000

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [28]:
train_x_sc = sc.fit_transform(train_x)

In [29]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,-1.537517e-16,-5.192565e-16,-8.711490e-17,9.679867e-17,1.715799e-16,4.062699e-16,-1.344694e-15,-7.015322e-16,1.044268e-15,-1.883219e-16,2.456086e-15,1.648770e-15,3.130856e-16,1.747091e-15
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.578257e+00,-2.790277e+00,-1.688205e+00,-2.657446e+00,-3.525555e+00,-1.734704e+00,-1.549477e+00,-9.038799e-01,-4.312611e+00,-1.422397e+00,-1.477672e-01,-2.182295e-01,-3.188179e+00,-6.138793e+00
25%,-7.723097e-01,-8.697872e-02,-6.836232e-01,-3.301953e-01,-4.181175e-01,-4.085250e-01,-7.928424e-01,-9.038799e-01,3.930503e-01,-1.422397e+00,-1.477672e-01,-2.182295e-01,-3.322173e-02,2.583925e-01
50%,-1.128980e-01,-8.697872e-02,-1.057581e-01,1.869715e-01,-2.968780e-02,-4.085250e-01,-3.620730e-02,-2.809028e-01,3.930503e-01,7.030387e-01,-1.477672e-01,-2.182295e-01,-3.322173e-02,2.583925e-01
75%,6.930496e-01,-8.697872e-02,4.485789e-01,4.455549e-01,7.471715e-01,9.176538e-01,7.204278e-01,9.650514e-01,3.930503e-01,7.030387e-01,-1.477672e-01,-2.182295e-01,3.712599e-01,2.583925e-01
max,3.770304e+00,3.517419e+00,1.233180e+01,1.221305e+00,2.300890e+00,2.243832e+00,1.729275e+00,2.211006e+00,3.930503e-01,7.030387e-01,1.318228e+01,1.055105e+01,4.739662e+00,5.950865e-01

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt = DecisionTreeClassifier()

In [32]:
dt.fit(train_x_sc,train_y)

DecisionTreeClassifier()

In [33]:
train_pred_dt = dt.predict(train_x_sc)
test_pred_dt = dt.predict(test_x)

In [34]:
from sklearn.metrics import accuracy_score

In [35]:
print("Training Accuracy : ", accuracy_score(train_pred_dt,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_dt,test_y))

Training Accuracy :  0.999956124956125
Testing Accuracy :  0.7732623605282014

In [36]:
dt1 = DecisionTreeClassifier(max_depth = 10)

In [37]:
dt1.fit(train_x_sc,train_y)

DecisionTreeClassifier(max_depth=10)

In [38]:
train_pred_dt1 = dt1.predict(train_x_sc)
test_pred_dt1 = dt1.predict(test_x)

In [39]:
print("Training Accuracy : ", accuracy_score(train_pred_dt1,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_dt1,test_y))

Training Accuracy :  0.8756581256581256
Testing Accuracy :  0.7736718190193469

In [40]:
dt2 = DecisionTreeClassifier(criterion = 'entropy', max_depth = 10)

In [41]:
dt2.fit(train_x_sc,train_y)

DecisionTreeClassifier(criterion='entropy', max_depth=10)

In [42]:
train_pred_dt2 = dt2.predict(train_x_sc)
test_pred_dt2 = dt2.predict(test_x)

In [43]:
print("Training Accuracy : ", accuracy_score(train_pred_dt2,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_dt2,test_y))

Training Accuracy :  0.8704369954369955
Testing Accuracy :  0.5001535469341796

# Random Forest

Random forest is an ensemble in which we are going to combine multiple trees by bagging

In [44]:
from sklearn.ensemble import RandomForestClassifier

In [45]:
rf = RandomForestClassifier() #n_estimators = 100(default)

In [46]:
rf.fit(train_x_sc,train_y)

RandomForestClassifier()

In [47]:
train_pred_rf = rf.predict(train_x_sc)
test_pred_rf = rf.predict(test_x)

In [48]:
print("Training Accuracy : ", accuracy_score(train_pred_rf,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_rf,test_y))

Training Accuracy :  0.9998683748683749
Testing Accuracy :  0.7703961510901832

In [49]:
# better than decision tree

In [51]:
rf1 = RandomForestClassifier(n_estimators = 10) #n_estimators = 10

In [52]:
rf1.fit(train_x_sc,train_y)

RandomForestClassifier(n_estimators=10)

In [55]:
train_pred_rf1 = rf1.predict(train_x_sc)
test_pred_rf1 = rf1.predict(test_x)

In [56]:
print("Training Accuracy : ", accuracy_score(train_pred_rf1,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_rf1,test_y))

Training Accuracy :  0.9886363636363636
Testing Accuracy :  0.7778687685535879

In [57]:
rf2 = RandomForestClassifier(n_estimators = 50) #n_estimators = 50

In [59]:
rf2.fit(train_x_sc,train_y)

RandomForestClassifier(n_estimators=50)

In [60]:
train_pred_rf2 = rf2.predict(train_x_sc)
test_pred_rf2 = rf2.predict(test_x)

In [61]:
print("Training Accuracy : ", accuracy_score(train_pred_rf2,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_rf2,test_y))

Training Accuracy :  0.9993418743418744
Testing Accuracy :  0.6997645613675914