In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy='most_frequent')

In [8]:
df=si.fit_transform(df)

In [9]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [10]:
cols=[1,3, 5,6,7,8,9,13, 14]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df=pd.DataFrame(df)

In [14]:
for i in cols:
  df[i]=le.fit_transform(df[i])

In [15]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [16]:
y = df[14]

In [17]:
y.shape

(32561,)

In [18]:
x = df.drop(columns = 14)

In [19]:
x.shape

(32561, 14)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3)

In [22]:
#giving 70% to train and 30% to test

In [23]:
train_x.shape

(22792, 14)

In [24]:
test_x.shape

(9769, 14)

In [25]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,3.095121,10.300983,2.609775,6.140444,1.440944,3.665409,0.669928,36.410056
std,1.107606,3.859218,1.505775,3.969927,1.606152,0.848086,0.470249,6.076811
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,6.000000,1.000000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.000000,4.000000,1.000000,40.000000

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [28]:
train_x_sc = sc.fit_transform(train_x)

In [29]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,-2.795164e-17,2.140761e-16,-6.052230e-17,-3.932628e-16,-7.353766e-16,-2.061258e-16,-1.097558e-16,-3.648363e-16,6.432542e-16,-8.123255e-16,2.923371e-16,5.197278e-16,-1.145085e-16,-8.572712e-16
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.585250e+00,-2.794486e+00,-1.672669e+00,-2.669248e+00,-3.532111e+00,-1.733216e+00,-1.546774e+00,-8.971602e-01,-4.322075e+00,-1.424655e+00,-1.444317e-01,-2.141244e-01,-3.201344e+00,-5.991770e+00
25%,-7.773657e-01,-8.588181e-02,-6.790147e-01,-3.371178e-01,-4.202790e-01,-4.049668e-01,-7.910758e-01,-8.971602e-01,3.945338e-01,-1.424655e+00,-1.444317e-01,-2.141244e-01,-3.652990e-02,2.616469e-01
50%,-1.163691e-01,-8.588181e-02,-1.062730e-01,1.811332e-01,-3.129991e-02,-4.049668e-01,-3.537775e-02,-2.745405e-01,3.945338e-01,7.019242e-01,-1.444317e-01,-2.141244e-01,-3.652990e-02,2.616469e-01
75%,6.915156e-01,-8.588181e-02,4.444124e-01,4.402587e-01,7.466582e-01,9.232823e-01,7.203203e-01,9.706988e-01,3.945338e-01,7.019242e-01,-1.444317e-01,-2.141244e-01,3.692155e-01,2.616469e-01
max,3.776166e+00,3.525591e+00,1.222378e+01,1.217635e+00,2.302574e+00,2.251531e+00,1.727918e+00,2.215938e+00,3.945338e-01,7.019242e-01,1.396020e+01,1.063438e+01,4.751265e+00,5.907741e-01

In [30]:
from sklearn.metrics import accuracy_score