In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy='most_frequent')

In [8]:
df=si.fit_transform(df)

In [9]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [10]:
cols=[1,3, 5,6,7,8,9,13, 14]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df=pd.DataFrame(df)

In [14]:
for i in cols:
  df[i]=le.fit_transform(df[i])

In [15]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [16]:
y = df[14]

In [17]:
y.shape

(32561,)

In [18]:
x = df.drop(columns = 14)

In [19]:
x.shape

(32561, 14)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3)

In [22]:
#giving 70% to train and 30% to test

In [23]:
train_x.shape

(22792, 14)

In [24]:
test_x.shape

(9769, 14)

In [25]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,3.098631,10.313838,2.611311,6.123815,1.447789,3.665102,0.667603,36.432169
std,1.104958,3.854969,1.507700,3.976614,1.610372,0.848714,0.471083,6.011628
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,6.000000,1.000000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.000000,4.000000,1.000000,40.000000

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
sc = StandardScaler()

In [31]:
train_x_sc = sc.fit_transform(train_x)

In [32]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,7.102076e-17,-1.028317e-15,-2.299894e-17,8.445528e-17,-5.344241e-16,7.631955e-16,3.986028e-17,3.519668e-16,5.465335e-16,-1.335755e-16,7.646617e-16,-1.459104e-15,8.313813e-16,8.564870e-17
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.584063e+00,-2.804359e+00,-1.663232e+00,-2.675525e+00,-3.557275e+00,-1.732021e+00,-1.539991e+00,-8.990595e-01,-4.318511e+00,-1.417197e+00,-1.446982e-01,-2.202827e-01,-3.176792e+00,-6.060417e+00
25%,-7.786825e-01,-8.926424e-02,-6.764018e-01,-3.408243e-01,-4.223946e-01,-4.054681e-01,-7.855637e-01,-8.990595e-01,3.946034e-01,-1.417197e+00,-1.446982e-01,-2.202827e-01,-3.928554e-02,2.608054e-01
50%,-1.197348e-01,-8.926424e-02,-1.094487e-01,1.779980e-01,-3.053455e-02,-4.054681e-01,-3.113656e-02,-2.780714e-01,3.946034e-01,7.056181e-01,-1.446982e-01,-2.202827e-01,-3.928554e-02,2.608054e-01
75%,6.856458e-01,-8.926424e-02,4.433970e-01,4.374092e-01,7.531855e-01,9.210845e-01,7.232906e-01,9.639047e-01,3.946034e-01,7.056181e-01,-1.446982e-01,-2.202827e-01,3.629589e-01,2.608054e-01
max,3.760735e+00,3.530861e+00,1.215933e+01,1.215643e+00,2.320626e+00,2.247637e+00,1.729193e+00,2.205881e+00,3.946034e-01,7.056181e-01,1.382615e+01,1.042499e+01,4.707199e+00,5.935014e-01

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [34]:
knn = KNeighborsClassifier()#n_neighbors = 5 Default

In [35]:
knn.fit(train_x_sc, train_y)

KNeighborsClassifier()

In [38]:
from sklearn.metrics import accuracy_score

In [39]:
train_pred_knn = knn.predict(train_x_sc)
test_pred_knn = knn.predict(test_x)
# how to make prediction in knn algorithm

In [40]:
print("Training Accuracy : ", accuracy_score(train_pred_knn,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_knn,test_y))

Training Accuracy :  0.8759213759213759
Testing Accuracy :  0.7631282628723514