In [1]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
si=SimpleImputer(strategy='most_frequent')

In [8]:
df=si.fit_transform(df)

In [9]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [10]:
cols=[1,3, 5,6,7,8,9,13, 14]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df=pd.DataFrame(df)

In [14]:
for i in cols:
  df[i]=le.fit_transform(df[i])

In [15]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [16]:
y = df[14]

In [17]:
y.shape

(32561,)

In [18]:
x = df.drop(columns = 14)

In [19]:
x.shape

(32561, 14)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3)

In [22]:
#giving 70% to train and 30% to test

In [23]:
train_x.shape

(22792, 14)

In [24]:
test_x.shape

(9769, 14)

In [25]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000,22792.000000
mean,3.088408,10.299754,2.619208,6.145183,1.446385,3.662557,0.669314,36.416155
std,1.110357,3.866844,1.507300,3.976427,1.606043,0.851579,0.470471,6.026122
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.000000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,7.000000,1.000000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.000000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.000000,4.000000,1.000000,40.000000

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler()

In [28]:
train_x_sc = sc.fit_transform(train_x)

In [29]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,1.810859e-16,-1.145353e-15,-6.634450e-18,1.686758e-15,7.316259e-16,3.610466e-17,-1.036231e-16,4.531690e-16,-3.671062e-16,-8.027587e-17,-7.999310e-16,2.331105e-15,2.456013e-16,-1.231416e-17
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.583944e+00,-2.781516e+00,-1.672497e+00,-2.663666e+00,-3.523962e+00,-1.737720e+00,-1.545437e+00,-9.006090e-01,-4.300996e+00,-1.422679e+00,-1.443764e-01,-2.177800e-01,-3.197660e+00,-6.043182e+00
25%,-7.767990e-01,-7.962318e-02,-6.816264e-01,-3.361353e-01,-4.171776e-01,-4.108153e-01,-7.909744e-01,-9.006090e-01,3.962644e-01,-1.422679e+00,-1.443764e-01,-2.177800e-01,-3.390872e-02,2.628357e-01
50%,-1.164075e-01,-7.962318e-02,-1.053421e-01,1.810937e-01,-2.882962e-02,-4.108153e-01,2.149760e-01,-2.779469e-01,3.962644e-01,7.028994e-01,-1.443764e-01,-2.177800e-01,-3.390872e-02,2.628357e-01
75%,6.907377e-01,-7.962318e-02,4.566778e-01,4.397082e-01,7.478664e-01,9.160894e-01,7.179511e-01,9.673775e-01,3.962644e-01,7.028994e-01,-1.443764e-01,-2.177800e-01,3.717004e-01,2.628357e-01
max,3.772565e+00,3.522901e+00,1.200535e+01,1.215552e+00,2.301258e+00,2.242994e+00,1.723901e+00,2.212702e+00,3.962644e-01,7.028994e-01,1.317486e+01,1.056160e+01,4.752279e+00,5.947314e-01

In [30]:
from sklearn.svm import SVC

In [31]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [32]:
train_x_sc.shape

(22792, 14)

In [33]:
test_x.shape

(9769, 14)

In [34]:
train_y.shape

(22792,)

In [35]:
test_y.shape

(9769,)

# Radial Basis Function (RBF) Kernel

In [36]:
svc = SVC() # C = 1

In [37]:
svc.fit(train_x_sc,train_y)

SVC()

In [38]:
train_pred_svc = svc.predict(train_x_sc)
test_pred_svc = svc.predict(test_x)

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
print("Training Accuracy : ", accuracy_score(train_pred_svc,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svc,test_y))

Training Accuracy :  0.8567479817479817
Testing Accuracy :  0.7554509161633739

In [41]:
svc1 = SVC(C = 0.1)

In [42]:
svc1.fit(train_x_sc,train_y)

SVC(C=0.1)

In [43]:
train_pred_svc1 = svc1.predict(train_x_sc)
test_pred_svc1 = svc1.predict(test_x)

In [44]:
print("Training Accuracy : ", accuracy_score(train_pred_svc1,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svc1,test_y))

Training Accuracy :  0.8406458406458407
Testing Accuracy :  0.7554509161633739

In [45]:
svc2 = SVC(C = 5)

In [46]:
svc2.fit(train_x_sc,train_y)

SVC(C=5)

In [47]:
train_pred_svc2 = svc2.predict(train_x_sc)
test_pred_svc2 = svc2.predict(test_x)

In [48]:
print("Training Accuracy : ", accuracy_score(train_pred_svc2,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svc2,test_y))

Training Accuracy :  0.8687697437697438
Testing Accuracy :  0.7554509161633739

In [49]:
svc3 = SVC(C = 10)

In [50]:
svc3.fit(train_x_sc,train_y)

SVC(C=10)

In [51]:
train_pred_svc3 = svc3.predict(train_x_sc)
test_pred_svc3 = svc3.predict(test_x)

In [52]:
print("Training Accuracy : ", accuracy_score(train_pred_svc3,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svc3,test_y))

Training Accuracy :  0.8739031239031239
Testing Accuracy :  0.7554509161633739

In [53]:
# try c = 100

# Linear Kernel

In [54]:
svcl1 = SVC(kernel = "linear")

In [55]:
svcl1.fit(train_x_sc,train_y)

SVC(kernel='linear')

In [56]:
train_pred_svcl1 = svcl1.predict(train_x_sc)
test_pred_svcl1 = svcl1.predict(test_x)

In [57]:
print("Training Accuracy : ", accuracy_score(train_pred_svcl1,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcl1,test_y))

Training Accuracy :  0.8145401895401896
Testing Accuracy :  0.24454908383662607

In [58]:
svcl2 = SVC(kernel = "linear", C = 0.1)

In [59]:
svcl2.fit(train_x_sc,train_y)

SVC(C=0.1, kernel='linear')

In [60]:
train_pred_svcl2 = svcl2.predict(train_x_sc)
test_pred_svcl2 = svcl2.predict(test_x)

In [61]:
print("Training Accuracy : ", accuracy_score(train_pred_svcl2,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svc2,test_y))

Training Accuracy :  0.8142769392769392
Testing Accuracy :  0.7554509161633739

In [62]:
svcl3 = SVC(kernel = "linear", C = 5)

In [63]:
svcl3.fit(train_x_sc,train_y)

SVC(C=5, kernel='linear')

In [64]:
train_pred_svcl3 = svcl3.predict(train_x_sc)
test_pred_svcl3 = svcl3.predict(test_x)

In [65]:
print("Training Accuracy : ", accuracy_score(train_pred_svcl3,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcl3,test_y))

Training Accuracy :  0.8145840645840646
Testing Accuracy :  0.24454908383662607

In [66]:
svcl4 = SVC(kernel = "linear", C = 10)

In [67]:
svcl4.fit(train_x_sc,train_y)

SVC(C=10, kernel='linear')

In [68]:
train_pred_svcl4 = svcl4.predict(train_x_sc)
test_pred_svcl4 = svcl4.predict(test_x)

In [69]:
print("Training Accuracy : ", accuracy_score(train_pred_svcl4,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcl4,test_y))

Training Accuracy :  0.8145401895401896
Testing Accuracy :  0.24454908383662607

# Polynomial Kernel

In [70]:
svcp1 = SVC(kernel = "poly")

In [71]:
svcp1.fit(train_x_sc,train_y)

SVC(kernel='poly')

In [72]:
train_pred_svcp1 = svcp1.predict(train_x_sc)
test_pred_svcp1 = svcp1.predict(test_x)

In [73]:
print("Training Accuracy : ", accuracy_score(train_pred_svcp1,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcp1,test_y))

Training Accuracy :  0.8481484731484732
Testing Accuracy :  0.7923021803664654

In [74]:
svcp2 = SVC(kernel = "poly", C = 0.1)

In [75]:
svcp2.fit(train_x_sc,train_y)

SVC(C=0.1, kernel='poly')

In [76]:
train_pred_svcp2 = svcp2.predict(train_x_sc)
test_pred_svcp2 = svcp2.predict(test_x)

In [77]:
print("Training Accuracy : ", accuracy_score(train_pred_svcp2,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcp2,test_y))

Training Accuracy :  0.8212969462969463
Testing Accuracy :  0.7923021803664654

In [78]:
svcp3 = SVC(kernel = "poly", C = 5)

In [79]:
svcp3.fit(train_x_sc,train_y)

SVC(C=5, kernel='poly')

In [80]:
train_pred_svcp3 = svcp3.predict(train_x_sc)
test_pred_svcp3 = svcp3.predict(test_x)

In [81]:
print("Training Accuracy : ", accuracy_score(train_pred_svcp3,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcp3,test_y))

Training Accuracy :  0.8516584766584766
Testing Accuracy :  0.7864673968676426

In [82]:
svcp4 = SVC(kernel = "poly", C = 10)

In [83]:
svcp4.fit(train_x_sc,train_y)

SVC(C=10, kernel='poly')

In [84]:
train_pred_svcp4 = svcp4.predict(train_x_sc)
test_pred_svcp4 = svcp4.predict(test_x)

In [85]:
print("Training Accuracy : ", accuracy_score(train_pred_svcp4,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_svcp4,test_y))

Training Accuracy :  0.8529308529308529
Testing Accuracy :  0.7860579383764971

In [91]:
# better than svm