In [2]:
url='https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(url, header=None, na_values=' ?')

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.isnull().sum()

0        0
1     1836
2        0
3        0
4        0
5        0
6     1843
7        0
8        0
9        0
10       0
11       0
12       0
13     583
14       0
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
si=SimpleImputer(strategy='most_frequent')

In [9]:
df=si.fit_transform(df)

In [10]:
pd.DataFrame(df).isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [11]:
cols=[1,3, 5,6,7,8,9,13, 14]

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
df=pd.DataFrame(df)

In [15]:
for i in cols:
  df[i]=le.fit_transform(df[i])

In [16]:
df.head()

   0   1       2   3   4   5   6   7   8   9     10 11  12  13  14
0  39   6   77516   9  13   4   0   1   4   1  2174  0  40  38   0
1  50   5   83311   9  13   2   3   0   4   1     0  0  13  38   0
2  38   3  215646  11   9   0   5   1   4   1     0  0  40  38   0
3  53   3  234721   1   7   2   5   0   2   1     0  0  40  38   0
4  28   3  338409   9  13   2   9   5   2   0     0  0  40   4   0

In [17]:
y = df[14]

In [18]:
y.shape

(32561,)

In [19]:
x = df.drop(columns = 14)

In [20]:
x.shape

(32561, 14)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size = 0.3)

In [23]:
#giving 70% to train and 30% to test

In [24]:
train_x.shape

(22792, 14)

In [25]:
test_x.shape

(9769, 14)

In [26]:
train_x.describe()

,1,3,5,6,7,8,9,13
count,22792.000000,22792.000000,22792.000000,22792.000000,22792.00000,22792.000000,22792.000000,22792.000000
mean,3.100386,10.294270,2.607801,6.135091,1.45301,3.667339,0.667954,36.427782
std,1.112044,3.871897,1.509846,3.975557,1.60977,0.846723,0.470958,6.045181
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,0.00000,4.000000,0.000000,38.000000
50%,3.000000,11.000000,2.000000,6.000000,1.00000,4.000000,1.000000,38.000000
75%,3.000000,12.000000,4.000000,9.000000,3.00000,4.000000,1.000000,38.000000
max,7.000000,15.000000,6.000000,13.000000,5.00000,4.000000,1.000000,40.000000

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
sc = StandardScaler()

In [29]:
train_x_sc = sc.fit_transform(train_x)

In [30]:
pd.DataFrame(train_x_sc).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04,2.279200e+04
mean,3.219376e-17,-4.631633e-16,7.637898e-18,4.215798e-16,-4.927272e-16,-2.624358e-16,4.834575e-16,-4.050814e-16,-4.538071e-16,-1.598016e-16,-2.456476e-16,-4.660530e-16,-4.930487e-16,7.309780e-16
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.584953e+00,-2.788067e+00,-1.661138e+00,-2.658773e+00,-3.537637e+00,-1.727235e+00,-1.543237e+00,-9.026393e-01,-4.331311e+00,-1.418319e+00,-1.459588e-01,-2.198374e-01,-3.195279e+00,-6.026053e+00
25%,-7.750747e-01,-9.027366e-02,-6.799993e-01,-3.342801e-01,-4.203490e-01,-4.025672e-01,-7.886089e-01,-9.026393e-01,3.928888e-01,-1.418319e+00,-1.459588e-01,-2.198374e-01,-3.602501e-02,2.600837e-01
50%,-1.124472e-01,-9.027366e-02,-1.065880e-01,1.822738e-01,-3.068803e-02,-4.025672e-01,-3.398120e-02,-2.814189e-01,3.928888e-01,7.050602e-01,-1.459588e-01,-2.198374e-01,-3.602501e-02,2.600837e-01
75%,6.238056e-01,-9.027366e-02,4.487987e-01,4.405508e-01,7.486340e-01,9.221006e-01,7.206465e-01,9.610218e-01,3.928888e-01,7.050602e-01,-1.459588e-01,-2.198374e-01,3.690075e-01,2.600837e-01
max,3.789693e+00,3.506784e+00,1.226239e+01,1.215382e+00,2.307278e+00,2.246768e+00,1.726817e+00,2.203463e+00,3.928888e-01,7.050602e-01,1.374471e+01,1.049089e+01,4.743359e+00,5.909330e-01

In [31]:
from sklearn.metrics import accuracy_score

# Bayesian Learning
### h(map) = P(D|h)P(h)

In [32]:
from sklearn.naive_bayes import GaussianNB

In [33]:
nbc = GaussianNB()

In [34]:
nbc.fit(train_x_sc,train_y)

GaussianNB()

In [35]:
train_pred_nbc = nbc.predict(train_x_sc)
test_pred_nbc = nbc.predict(test_x)

In [36]:
print("Training Accuracy : ", accuracy_score(train_pred_nbc,train_y))
print("Testing Accuracy : ",accuracy_score(test_pred_nbc,test_y))

Training Accuracy :  0.8058968058968059
Testing Accuracy :  0.7842153751663425

In [37]:
# Highest accuracy without any overfitting